.vagrant
.terraform
*.retry
.DS_Store
.pem
.osrc
.vscode
ansible_dcos_hosts
ihos.osrc
terraform.tfstate*
password
dcos_generate_config.ee.sh
dciaauto001-ihos.pem
ansible/ansible.cfg
node.json
*.pyc
object.data
dcos