{
{% for target in nodes %}
  {% if target.hostname is defined and role_def.hostname == target.hostname %} 

  "type": "{{op_type | upper}}",
  "{{op_type | lower }}": {
    "agent_id": {
      "value": "{{ target.id }}"
    },
    "resources": [
      {
        "type": "SCALAR",
        "name": "cpus",
        "reservation": {
          "principal": "{{role_def.principal}}"
        },
        "role": "{{role_def.name}}",
        "scalar": {
          "value": {{ role_def.resources.cpus | default(0.0) }}
        }
      },
      {
        "type": "SCALAR",
        "name": "disk",
        "reservation": {
          "principal": "{{role_def.principal}}"
        },
        "role": "{{role_def.name}}",
        "scalar": {
          "value": {{ role_def.resources.disk | default(0.0) }}
        }
      },
      {
        "type": "SCALAR",
        "name": "gpus",
        "reservation": {
          "principal": "{{role_def.principal}}"
        },
        "role": "{{role_def.name}}",
        "scalar": {
          "value": {{ role_def.resources.gpus | default(0.0) }}
        }
      },
  {% if role_def.begin_port is defined %}
      {
        "type": "RANGES",
        "name": "ports",
        "reservation": {
          "principal": "{{role_def.principal}}"
        },
        "role": "{{role_def.name}}",
        "ranges": {
          "range": [
            {
              "begin": {{ role_def.resources.begin_port }},
              "end": {{ role_def.resources.end_port }}
            }
          ]
        }
      },
  {% endif %}
      {
        "type": "SCALAR",
        "name": "mem",
        "reservation": {
          "principal": "{{role_def.principal}}"
        },
        "role": "{{role_def.name}}",
        "scalar": {
          "value": {{ role_def.resources.mem | default(0) }}
        }
      }
    ]
  }
 {% endif %}
{% endfor %}
}

