{
{% for target in nodes %}
{% if service.role.hostname == target.hostname %} 

  "type": "{{op_type | upper}}",
  "{{op_type | lower }}": {
    "agent_id": {
      "value": "{{ target.id }}"
    },
    "resources": [
      {
        "type": "SCALAR",
        "name": "cpus",
        "reservation": {
          "principal": "{{service.role.principal}}"
        },
        "role": "{{service.role.name}}",
        "scalar": {
          "value": {{ service.role.cpus | default(0.0) }}
        }
      },
      {
        "type": "SCALAR",
        "name": "gpus",
        "reservation": {
          "principal": "{{service.role.principal}}"
        },
        "role": "{{service.role.name}}",
        "scalar": {
          "value": {{ service.role.gpus | default(0.0) }}
        }
      },
  {% if service.role.begin_port is defined %}
      {
        "type": "RANGES",
        "name": "ports",
        "reservation": {
          "principal": "{{service.role.principal}}"
        },
        "role": "{{service.role.name}}",
        "ranges": {
          "range": [
            {
              "begin": {{ service.role.begin_port }},
              "end": {{ service.role.end_port }}
            }
          ]
        }
      },
  {% endif %}
      {
        "type": "SCALAR",
        "name": "mem",
        "reservation": {
          "principal": "{{service.role.principal}}"
        },
        "role": "{{service.role.name}}",
        "scalar": {
          "value": {{ service.role.mem | default(0) }}
        }
      }
    ]
  }
 {% endif %}
{% endfor %}
}

