{% for target in nodes %}
{% if item.role.name != '*' and item.role.hostname == target.hostname %} 
{
  "type": "{{op_type | upper}}",
  "{{op_type | lower }}": {
    "agent_id": {
      "value": "{{ target.id }}"
    },
    "resources": [
      {
        "type": "SCALAR",
        "name": "cpus",
        "reservation": {
          "principal": "{{item.role.principal}}"
        },
        "role": "{{item.role.name}}",
        "scalar": {
          "value": {{ item.role.cpus | default(0.0) }}
        }
      },
      {
        "type": "SCALAR",
        "name": "gpus",
        "reservation": {
          "principal": "{{item.role.principal}}"
        },
        "role": "{{item.role.name}}",
        "scalar": {
          "value": {{ item.role.gpus | default(0.0) }}
        }
      },
  {% if item.role.begin_port is defined %}
      {
        "type": "RANGES",
        "name": "ports",
        "reservation": {
          "principal": "{{item.role.principal}}"
        },
        "role": "{{item.role.name}}",
        "ranges": {
          "range": [
            {
              "begin": {{ item.role.begin_port }},
              "end": {{ item.role.end_port }}
            }
          ]
        }
      },
  {% endif %}
      {
        "type": "SCALAR",
        "name": "mem",
        "reservation": {
          "principal": "{{item.role.principal}}"
        },
        "role": "{{item.role.name}}",
        "scalar": {
          "value": {{ item.role.mem | default(0) }}
        }
      }
    ]
  }
}

 {% endif %}
{% endfor %}
