
{
  "service": {
    "name": "marathon-{{item.1.name}}",
    "instances": 1
  },
  "marathon": {
     "default-accepted-resource-roles": "{{item.1.name}}",
     "mesos-authentication-principal": "{{item.0.principal}}",
     "mesos-role": "{{item.1.name}}",
     "role": "{{item.1.name}}"
     }
} 
